<form ng-submit="submit()">
    <input type="text" placeholder="Search city or zip" ng-model="searchProp"/>
    <input type="submit" value="Search" class="btn btn-primary"/>
</form>

<div ng-repeat="city in favoriteCities" class="currentConditions">
    <p>Current Conditions for {{city.currentConditions.display_location.city}}</p>
    <p>Temperature:  {{city.currentConditions.temp_f}}</p>
    <p>Windchill:  {{city.currentConditions.windchill_f}}</p>
    <p>Wind:  {{city.currentConditions.wind_mph}}</p>
</div>